[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
sklearn = "*"
matplotlib = "*"
pandas = "~=0.23.3"
pandas-ml = "*"
graphviz = "*"
cython = "*"
memory-profiler = "*"

[requires]
python_version = "3.6"
